@(produtoId: Long, formItem: Form[ItemBacklog], itens: List[ItemBacklog])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("") {

	@form(action = routes.ItensBacklog.create(produtoId), 'class -> "form-horizontal") {
		@inputText(formItem("nome"), '_label -> "Nome:")
		@inputText(formItem("descricao"), '_label -> "Descrição:")
		@inputText(formItem("notas"), '_label -> "Notas:")
		@inputText(formItem("importancia"), '_label -> "Importância:")
		@inputText(formItem("estimativa"), '_label -> "Estimativa:")
		
		<button class="btn btn-primary" type="submit">Salvar</button>
	}

	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<td>Opções</td>
				<td><a href="@routes.ItensBacklog.index(produtoId, "nome")">Nome</a></td>
				<td>Descrição</td>
				<td>Notas</td>
				<td><a href="@routes.ItensBacklog.index(produtoId, "importancia")">Importância</a></td>
				<td>Estimativa</td>
			</tr>
		</thead>
		<tbody>
			@itens.map { item =>
				<tr>
					<td><a href="@routes.ItensBacklog.delete(item.id)"><i class="icon-remove"></i></a>
						<a href="@routes.ItensBacklog.editForm(item.id)"><i class="icon-pencil"></i></a>
						<a href="@routes.ItensBacklog.breakItemForm(item.id)"><i class="icon-indent-left"></i></a></td>
					<td>@item.nome</td>
					<td>@item.descricao</td>
					<td>@item.notas</td>
					<td>@item.importancia</td>
					<td>@item.estimativa</td>
				</tr>	
			}
		</tbody>
	</table>
	

}