@(formProduto: Form[Produto], produtos: List[Produto])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("Welcome to Play 2.0") {
    
    @helper.form(action = routes.Produtos.create, 'class -> "form-horizontal") {
		<fieldset>
		<legend>Cadastro de Produtos</legend>
		@helper.inputText(formProduto("nome"), '_label -> "Nome:", 'placeholder -> "Digite o nome")
		@helper.inputText(formProduto("descricao"), '_label -> "Descrição:", 'placeholder -> "Digite a descrição")
    
    	<button class="btn btn-primary" type="submit">Salvar</button>
    	</fieldset>
    }
    <hr >
    <h3>Listando produtos</h3>
   	<table class="table table-hover">
   		<thead>
    		<tr>
    			<th>Nome</th>
    			<th>Descrição</th>
    			<th>Opções</th>
    		</tr>
    	</thead>
    	<tbody>
			@produtos.map { produto =>
    			<tr>
    				<td><a href="@routes.ItensBacklog.index(produto.id)"><i class="icon-search icon-pencil"></i>@produto.nome</a></td>
    				<td>@produto.descricao</td>
    				<td>
    					<a href="@routes.Produtos.delete(produto.id)"><i class="icon-search icon-remove"></i>Excluir</a>
    					<a href="@routes.Produtos.editForm(produto.id)"><i class="icon-search icon-edit"></i>Editar</a></td>
    			</tr>
   			}
   		</tbody>
   	</table>
    
}
