@(form: Form[Produto], produtos: List[Produto])

@main("Welcome to Play 2.0") {
    
    @helper.form(action = routes.Produtos.create) {
	
		@helper.inputText(form("nome"), '_label -> "Nome:")
		@helper.inputText(form("descricao"), '_label -> "Descrição:")
    
    	<button class="okbtn" type="submit">Salvar</button>
    }
    	
   	<table>
   		<thead>
    		<tr>
    			<th>Opções</th>
    			<th>Nome</th>
    			<th>Descrição</th>
    		</tr>
    	</thead>
    	<tbody>
			@produtos.map { produto =>
    			<tr>
    				<td>
    					<a href="@routes.Produtos.delete(produto.id)">Excluir</a>
    					<a href="@routes.Produtos.editForm(produto.id)">Editar</a></td>
    				<td><a href="@routes.ItensBacklog.index(produto.id)">@produto.nome</a></td>
    				<td>@produto.descricao</td>
    			</tr>
   			}
   		</tbody>
   	</table>
    
}