@(formProduto: Form[Produto], produtos: List[Produto])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("Welcome to Play 2.0") {
    
    @helper.form(action = routes.Produtos.create, 'class -> "form-horizontal") {
	
		@helper.inputText(formProduto("nome"), '_label -> "Nome:")
		@helper.inputText(formProduto("descricao"), '_label -> "Descrição:")
    
    	<button class="btn btn-primary" type="submit">Salvar</button>
    }
    	
   	<table class="table table-striped table-hover table-bordered">
   		<thead>
    		<tr>
    			<th>Opções</th>
    			<th>Nome</th>
    			<th>Descrição</th>
    		</tr>
    	</thead>
    	<tbody>
			@produtos.map { produto =>
    			<tr>
    				<td>
    					<a href="@routes.Produtos.delete(produto.id)">Excluir</a>
    					<a href="@routes.Produtos.editForm(produto.id)">Editar</a></td>
    				<td><a href="@routes.ItensBacklog.index(produto.id)">@produto.nome</a></td>
    				<td>@produto.descricao</td>
    			</tr>
   			}
   		</tbody>
   	</table>
    
}