@(id: Long, form: Form[Usuario], usuarios: List[Usuario])
@import helper.twitterBootstrap._
@main("Editar Usuarios") {
    
    @helper.form(action = routes.Usuarios.update(id)) {
		<fieldset>
		<legend>Cadastro de Produtos</legend>
		@helper.inputText(form("nome"), '_label -> "Nome:", 'placeholder -> "Digite o nome")
		Grupo:<br />
		<select name="grupo">
			<option>Equipe</option>
			<option>Scrum Master</option>
			<option>Dono Produto</option>
    	</select>
		<br/>
		<br/>
    	<button class="btn btn-primary" type="submit">Salvar</button>
    	</fieldset>
    }
    
}
