@(id: Long, formUsuario: Form[Usuario], usuarios: List[Usuario])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("Editar Usuarios") {
    
@form(action = routes.Usuarios.update(id), 'class -> "form-horizontal") {
		<fieldset>
			<legend>Cadastro de Usuários</legend>

			@inputText(formUsuario("nome"), '_label -> "Nome:", 'placeholder -> "Digite o nome")

			@select(formUsuario("grupo"),
				options( Seq("Equipe", "Scrum Master", "Dono Produto")), '_label -> "Grupo:")

			<br/>
			<button class="btn btn-primary" type="submit">Salvar</button>
    	</fieldset>
    }
    
}
