@(formUsuario: Form[Usuario], usuarios: List[Usuario])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("Cadastro de Usuarios") {
  
	@form(action = routes.Usuarios.submit, 'class -> "form-horizontal") {
	<fieldset>
		<legend>Cadastro de Usuários</legend>

		@inputText(formUsuario("nome"), '_label -> "Nome:", 'placeholder -> "Digite o nome")
		@select(formUsuario("grupo"),
		options( Seq("Equipe", "Scrum Master", "Dono Produto")), '_label -> "Grupo:"	)

		<br/>
    	<button class="btn btn-primary" type="submit">Salvar</button>
	</fieldset>
    }
    	
   	<table class="table table-hover">
   		<thead>
    		<tr>
    			<th>Nome</th>
    			<th>Grupo</th>
    			<th>Opções</th>
    		</tr>
    	</thead>
    	<tbody>
			@usuarios.map { usuario =>
    			<tr>
    				<td>@usuario.nome</td>
					<td>@usuario.grupo</td>
					<td>
    					<a href="@routes.Usuarios.delete(usuario.id)"><i class="icon-search icon-remove"></i>Excluir</a>
    					<a href="@routes.Usuarios.editForm(usuario.id)"><i class="icon-search icon-edit"></i>Editar</a></td>
    			</tr>
   			}
   		</tbody>
   	</table>

}
