@(itemBacklog: ItemBacklog, formItem: Form[ItemBacklog])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("") {

	<h3>Item a ser quebrado:</h3>	
	<dl class="dl-horizontal">
	<dt>Nome</dt>
	<dd>@itemBacklog.nome</dd>
	<dt>Descrição</dt>
	<dd>@itemBacklog.descricao</dd>
	<dt>Notas</dt>
	<dd>@itemBacklog.notas</dd>
	<dt>Importância</dt>
	<dd>@itemBacklog.importancia</dd>
	<dt>Estimativa</dt>
	<dd>@itemBacklog.estimativa</dd>
</dl>
	
	@form(routes.ItensBacklog.fake, 'class -> "form-horizontal", 'id -> "breakItemsForm") {
		<fieldset>
		<legend>Cadastro do item de Backlog</legend>
		@inputText(formItem("nome"), '_label -> "Nome:", 'placeholder -> "Digite o nome")
		@inputText(formItem("descricao"), '_label -> "Descrição:", 'placeholder -> "Digite o descrição")
		@inputText(formItem("notas"), '_label -> "Notas:", 'placeholder -> "Digite o notas")
		@inputText(formItem("importancia"), '_label -> "Importância:", 'placeholder -> "Digite o importância")
		@inputText(formItem("estimativa"), '_label -> "Estimativa:", 'placeholder -> "Digite o estimativa")
		<button id="addbtn" class="btn btn-primary" type="button">Salvar</button>
		</fieldset>
	}
	<h3>Listando intem de  backlog</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Notas</th>
				<th>Importância</th>
				<th>Estimativa</th>
			</tr>
		</thead>
		<tbody id="itemsTableBody">
		</tbody>
	</table>



	<script>
		function createHiddenInputs() {
			var out = "";
			for (var i in itens) {
				out = out + '<input type="hidden" name="itens[' + i + '].nome" value="' + itens[i][0].value + '"/>';
				out = out + '<input type="hidden" name="itens[' + i + '].descricao" value="' + itens[i][1].value + '"/>';
				out = out + '<input type="hidden" name="itens[' + i + '].notas" value="' + itens[i][2].value + '"/>';
				out = out + '<input type="hidden" name="itens[' + i + '].importancia" value="' + itens[i][3].value + '"/>';
				out = out + '<input type="hidden" name="itens[' + i + '].estimativa" value="' + itens[i][4].value + '"/>';
			}
			$("#hiddenInputs").html(out);
		}
		
		function createTableBody() {
			var out = "";
			for (var i in itens) {
				out = out + "<tr>"; 
				out = out + '<td>' + itens[i][0].value + '</td>';
				out = out + '<td>' + itens[i][1].value + '</td>';
				out = out + '<td>' + itens[i][2].value + '</td>';
				out = out + '<td>' + itens[i][3].value + '</td>';
				out = out + '<td>' + itens[i][4].value + '</td>';
				out = out + "</tr>";
			}
			$("#itemsTableBody").html(out);
		}
		
		$("#addbtn").click(function() {

			if ($.trim($("input[name='nome']").val()) == "") {
				alert("Nome não informado!");
				return;
			}
			if (typeof itens == 'undefined') {
				itens = [];
			}
			itens[itens.length] = $("#breakItemsForm").serializeArray();
		 	createHiddenInputs();
		 	createTableBody();
		 	$("#breakItemsForm").get(0).reset();
		});
	</script>


}
