@(id: Long, formItem: Form[ItemBacklog])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("Welcome to Play 2.0") {
    
    @helper.form(action = routes.ItensBacklog.update(id), 'class -> "form-horizontal") {
		@inputText(formItem("nome"), '_label -> "Nome:")
		@inputText(formItem("descricao"), '_label -> "Descrição:")
		@inputText(formItem("notas"), '_label -> "Notas:")
		@inputText(formItem("importancia"), '_label -> "Importância:")
		@inputText(formItem("estimativa"), '_label -> "Estimativa:")
		
		<button class="btn btn-primary" type="submit">Salvar</button>
    }
    
}