@(produtoId: Long, formItem: Form[ItemBacklog], itens: List[ItemBacklog])

@import helper._
@import twitterBootstrapHelper._

@implicitField = @{ FieldConstructor( twitterFieldConstructor.f ) }

@main("") {

	@form(action = routes.ItensBacklog.create(produtoId), 'class -> "form-horizontal") {
	<fieldset>
		<legend>Cadastro de Backlog</legend>
		@inputText(formItem("nome"), '_label -> "Nome:", 'placeholder -> "Digite o nome")
		@inputText(formItem("descricao"), '_label -> "Descrição:", 'placeholder -> "Digite a descrição")
		@inputText(formItem("notas"), '_label -> "Notas:", 'placeholder -> "Digite a notas")
		@inputText(formItem("importancia"), '_label -> "Importância:", 'placeholder -> "Digite a importância")
		@inputText(formItem("estimativa"), '_label -> "Estimativa:", 'placeholder -> "Digite a estimativa")
		
		<button class="btn btn-primary" type="submit">Salvar</button>
		</fieldset>
	}
<h3>Listando produtos</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Opções</th>
				<th><a href="@routes.ItensBacklog.index(produtoId, "nome")">Nome</a></th>
				<th>Descrição</th>
				<th>Notas</th>
				<th><a href="@routes.ItensBacklog.index(produtoId, "importancia")">Importância</a></th>
				<th>Estimativa</th>
			</tr>
		</thead>
		<tbody>
			@itens.map { item =>
				<tr>
					<td><a href="@routes.ItensBacklog.delete(item.id)"><i class="icon-remove"></i>Excluir</a>
						<a href="@routes.ItensBacklog.editForm(item.id)"><i class="icon-edit"></i>Editar</a>
						<a href="@routes.ItensBacklog.breakItemForm(item.id)"><i class="icon-pencil"></i>Quebrar</a></td>
					<td>@item.nome</td>
					<td>@item.descricao</td>
					<td>@item.notas</td>
					<td>@item.importancia</td>
					<td>@item.estimativa</td>
				</tr>	
			}
		</tbody>
	</table>
	

}
