@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<header>CEUT Scrum Project - Equipe Comando Ágil</header>
		<div class="row">
			<div class="span4">
		    	<nav>
		    		<ul>
		    			<li><a href="/produtos">Produtos</a></li>
		    			<li><a href="/usuarios">Usuários</a></li>
		    		</ul>
		    	</nav>
	    	</div>
	    	<div class="span8">
		    	<section>
					@content
				</section>
			</div>
		</div>
    </body>
</html>
